.body {
  font-family: 'Open Sans', sans-serif;
}

.splash-bg {    
  position:absolute; 
  height:100%; 
  width:100%; 
  background: url('../../assets/desk1.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.signin-bg {
  position:absolute; 
  height:100%; 
  width:100%; 
  background: url('../../assets/desk2.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.signout-bg {
  position:absolute; 
  height:100%; 
  width:100%; 
  background: url('../../assets/pencil.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center-vertical-align {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.upper-vertical-align {
  position: absolute;
  width: 100%;
  top: 45%;
  transform: translateY(-50%);
}

.center-item {
  text-align: center;
}

.title {
  color: #222;
}

.robo-big-head-img {
  height: 250px;
}

.slack-button {
  margin-top: 20px;
}

.nav-size {
  margin: 0;
  border-radius: 0;
}


/* Profile Page */
.contact-card {
  margin-top: 10px;
  background-color: #424242;
  color: #fafafa;
}
 
.panel-default>.panel-heading {
  font-size: 20px;
  font-weight: bold;
  color: #fafafa;
  background-color: #424242;
}

.position {
  font-size: 18px;
}

.card-info {
  font-size: 16px;
}

.button-margin {
  margin-left: 5px;
}

@media (max-width: 767px) {
  .center-info {
      text-align: center;
  } 
}