.body {
  font-family: 'Open Sans', sans-serif;
}

.app-background {    
  position:absolute; 
  height:100%; 
  width:100%; 
  background: url('https://hd.unsplash.com/photo-1432821596592-e2c18b78144f') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center-vertical-align {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.upper-vertical-align {
  position: absolute;
  width: 100%;
  top: 45%;
  transform: translateY(-50%);
}

.center-item {
  text-align: center;
}

.title {
  color: #212121;
}

.robo-big-head-img {
  height: 250px;
}

.robo-oops-img {
}

.slack-button {
  margin-top: 20px;
}

.nav-size {
  margin: 0;
  border-radius: 0;
}

.contact-card {
  margin-top: 10px;
}